h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    background-color: pink;
    border-radius: 10px 10px 10px 10px;
    margin-left: 100px;
    margin-right: 100px;
}
body{
    background-color: blue;
}
.toy{
    text-align: center;


}
input{
    background-color: brown;
}
img{
     padding: 40px;
     width: 300px;
     height: 300px;

}
button{
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin-bottom: 20px;
    color: blueviolet;
   
}